# python
*.egg-info
*_version.py
*.pyc
*__pycache__

# python tools
.pytest_cache
.ruff_cache
.pytask.sqlite3
.pytask

# R
.RData
.Rhistory

# bld
bld/

#data
/src/psycourse/data

#sophies files
sophies_files

#sandbox
src/sandbox/
sandbox.ipynb
src/psycourse/data_management/prsscope_sandbox.ipynb
src/psycourse/results_overview.ipynb
src/psycourse/integrated_analysis/diablo_model.ipynb

# latex
*.aux
*.bbl
*.bcf*
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.nav
*.snm
*.toc

# documentation
docs_template/build/
docs_template/scripts/latex/*.png

# local
.vscode
# pixi environments
.pixi
*.egg-info

*.DS_Store
